body {
  margin: 0;
  font-family: "Sofia Pro", "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.4em;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/********************
* Generics
********************/
.flex_space_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_center_col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligned_text {
  text-align: center;
}

.medium_text {
  font-size: calc(12px + 0.5vw);
}

icon {
  cursor: pointer;
}

icon:hover {
  color: black;
  transition: 0.75s;
}

.fadeable-content {
  animation: fadeIn 0.5s;
}

.fadeable-content-out {
  animation: fadeOut 0.5s;
}

.fadeable-half-content {
  animation: fadeInHalf 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/********************
* App
********************/
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.app-error-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  flex-wrap: wrap;
}

.app-error {
  background-color: rgba(255, 0, 0, 0.616) !important;
  margin: 10px;
}

.app-success {
  background-color: rgb(138 199 126 / 62%) !important;
  margin: 10px;
}

.app_menu {
  height: 100%;
  padding: 0% 5% 0% 5%;
}

.app_menu_option {
  color: #506670c5;
}

.app_menu_option:hover {
  color: black;
  transition: 0.75s;
  cursor: pointer;
}

.app_menu_active {
  color: black;
  pointer-events: none;
}

.root_container {
  margin: 1% 2.5% 0 2.5%;
  flex: 1 1;
}

.app_wide_container {
  width: 80vw;
}

.app_scroll-top {
  position: sticky;
  bottom: 0;
  align-self: center;
  padding: 25px;
}

.app_scroll-top-hidden {
  position: sticky;
  bottom: 0;
  padding: 25px;
  opacity: 0;
  align-self: center;
}

.app_scroll-top-content {
  padding: 100px;
}

.app_footer {
  bottom: 0;
  color: #506670c5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

.app_footer-link {
  cursor: pointer;
  opacity: 0.5;
}

.app_footer-link:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.app_version-text {
  color: #506670c5;
  text-align: center;
  padding: 15px;
}

.empty_results-container {
  padding: 8vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty_results-text {
  color: #506670c5;
  font-weight: lighter;
  font-size: 24px;
  padding: 2vh;
  text-align: center;
}

.content_card-container {
  padding: 10px;
  width: 20%;
  height: 10%;
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  color: #506670c5;
}

.content_card-container:hover {
  padding: 10px;
  opacity: 1;
  transition: 0.75s;
  color: black;
}

.content_card-container-mobile {
  padding: 10px;
}

.content_card-title {
  text-align: center;
}

.content_card-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/********************
* Home
********************/
.home_icon {
  padding: 1vw;
  cursor: pointer;
  fill: #506670c5;
  transition: 0.5s;
}

.home_icon:hover {
  fill: black;
  transition: 0.5s;
}

.version_string {
  color: #506670c5;
  margin-top: 10vh;
  font-style: italic;
}
/********************
* Resumé
********************/

.resume_column {
  flex: 1;
}

.resume_header {
  text-align: center;
}

.resume_list-item_container {
  padding: 1vh;
}

.resume_list-item_header {
  display: flex;
  align-items: center;
}

.resume_list-item_title {
  font-weight: 600;
  padding: 1vh;
}

.resume_list-item_datestring {
  font-style: italic;
  font-weight: lighter;
  color: #506670c5;
}

.resume_tools-container {
  padding: 1vh;
}

.resume_tools-badge {
  margin: 1vh;
  display: inline-block !important;
}

.download_icon {
  margin-right: 1vw;
  cursor: pointer;
  fill: #506670c5;
}

.download_icon-mobile {
  margin-right: 5vw;
  cursor: pointer;
  fill: #506670c5;
}

.download_icon:hover {
  fill: black;
  transition: 0.75s;
}

.download_icon-mobile:hover {
  fill: black;
  transition: 0.75s;
}

/********************
* Contact
********************/

.contact_form {
  padding: 20px;
}

.contact_input {
  min-width: 45vw;
}

.contact_recaptcha {
  padding: 10px;
}

.contact_submit {
  padding: 20px;
}

.contact_party {
  padding: 25px 0px 50px 0px;
}

/********************
* Work
********************/
.work_content-container {
  width: 60vw;
  padding: 1vw;
}

.work_content-container-mobile {
  padding-top: 5vh;
}

.work_content-datestring {
  color: #506670c5;
}

.work-img-loading {
  margin: 50px;
}

.work-img {
  height: 50%;
  width: 70%;
  padding-bottom: 5vh;
}

.work-img-mobile {
  height: 80%;
  width: 90%;
  padding-bottom: 5vw;
}

.work-link {
  width: fit-content;
  padding-top: 5px;
  cursor: pointer;
  color: inherit;
  opacity: 0.5;
  text-decoration: none;
}

.work-link:hover {
  opacity: 1;
  transition: 0.5s;
}

/********************
* Admin
********************/
.admin_table {
  width: 100%;
}

.admin_button_container {
  padding: 15px;
}

.admin_create-margin {
  margin-bottom: 15px;
}

.admin_manage-container-mobile {
  padding-top: 5vh;
}

.admin_tag-section {
  margin-bottom: 20px;
  width: 100%;
}

.admin_tag-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_tag-select {
  flex: 1 1;
}

.admin_add-remove {
  margin-top: 10px;
  margin-left: 25px;
  opacity: 0.5;
  cursor: pointer;
}

.admin_add-remove:hover {
  opacity: 1;
  transition: 0.75s;
}

.admin_delete-modal-details {
  padding-bottom: 25px;
  font-weight: 600;
}

.admin_delete-modal-cancel {
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
}

.admin_tag-error {
  margin-top: 10px;
  font-size: 13px;
  color: rgba(255, 0, 0, 0.616);
  font-style: italic;
}

.admin_markup-container {
  margin: 10px;
}

.admin_markup-toggle {
  padding: 10px;
}

.markup_preview-container {
  padding: 15px;
  width: 485px;
  background-color: #ddeaf077;
}

.markup-mobile {
  width: 72vw;
}
